<div ng-if="!containers.length"><em>none</em></div>
<dl class="dl-horizontal" ng-repeat="container in containers">
<dt translate>Name</dt>
<dd>{{container.name}}</dd>
<dt translate>Image</dt>
<dd ng-if="container.image">{{container.image}}</dd>
<dd ng-if="!container.image"><em translate>none</em></dd>
<dt translate>Ports</dt>
<dd>
  <div ng-if="!container.ports.length"><em translate>none</em></div>
  <div ng-repeat="port in container.ports | orderBy:'containerPort'">
    {{port.containerPort}}/{{port.protocol}}<span ng-if="port.hostPort" translate> to host port {{port.hostPort}}</span>
  </div>
</dd>
<dt translate>Env vars</dt>
<dd>
  <div ng-if="!container.env.length"><em translate>none</em></div>
  <div ng-repeat="env in container.env | orderBy:'name'" collapse-long-text value="{{env.name}}={{env.value}}"></div>
</dd>
</dl>
<div ng-if="$index != 0" style="margin-bottom: 10px;"></div>
