<span ng-if="containerState | isEmptyObj"><em translate>none</em></span>
<span ng-repeat="(state, stateDescription) in containerState | limitTo: 1">
  <span ng-switch="state">
    <span ng-switch-when="waiting">
      <translate>Waiting</translate>
      <span ng-if="stateDescription.reason">({{stateDescription.reason}})</span>
    </span>
    <span ng-switch-when="running">
      <translate>Running</translate>
      <span ng-if="stateDescription.startedAt" translate>since {{stateDescription.startedAt | date:'medium'}}</span>
    </span>
    <span ng-switch-when="terminated">
      <translate>Terminated</translate>
      <span ng-if="stateDescription.finishedAt" translate>at {{stateDescription.finishedAt | date:'medium'}}</span>
      <span ng-if="stateDescription.exitCode" translate>with exit code {{stateDescription.exitCode}}</span>
      <span ng-if="stateDescription.reason">({{stateDescription.reason}})</span>
    </span>
    <span ng-switch-default>{{state}}</span>
  </span>
</span>
