<span ng-if="containerState | isEmptyObj"><em>none</em></span>
<div ng-repeat="(state, stateDescription) in containerState | limitTo: 1">
  <div ng-switch="state">
    <div ng-switch-when="waiting">
      Waiting
      <!-- Even though we use collapse-long-text, add a style to prevent long
           unbroken identifiers like docker pull specs from overflowing. -->
      <div ng-if="stateDescription.reason" style="overflow: hidden; text-overflow: ellipsis;">
        Reason:
        <span ng-if="stateDescription.reason" collapse-long-text value="{{stateDescription.reason}}"></span>
      </div>
    </div>
    <div ng-switch-when="running">
      Running
      <span ng-if="stateDescription.startedAt">since {{stateDescription.startedAt | date:'medium'}}</span>
    </div>
    <div ng-switch-when="terminated">
      Terminated
      <span ng-if="stateDescription.finishedAt">at {{stateDescription.finishedAt | date:'medium'}}</span>
      <span ng-if="stateDescription.exitCode">with exit code {{stateDescription.exitCode}}</span>
      <div ng-if="stateDescription.reason" style="overflow: hidden; text-overflow: ellipsis;">
        Reason:
        <span ng-if="stateDescription.reason" collapse-long-text value="{{stateDescription.reason}}"></span>
      </div>
    </div>
    <div ng-switch-default>{{state}}</div>
  </div>
</div>
