<div ng-if="!containerStatuses"><em translate>none</em></div>
<dl ng-repeat="containerStatus in containerStatuses | orderBy:'name'" class="dl-horizontal">
  <dt translate>Name</dt>
  <dd>{{containerStatus.name}}</dd>
  <dt translate>State</dt>
  <dd>
    <kubernetes-object-describe-container-state container-state="containerStatus.state"></container-state>
  </dd>
  <dt ng-if="!(containerStatus.lastState | isEmptyObj)" translate>Last State</dt>
  <dd ng-if="!(containerStatus.lastState | isEmptyObj)">
    <kubernetes-object-describe-container-state container-state="containerStatus.lastState"></container-state>
  </dd>
  <dt translate>Ready</dt>
  <dd>{{containerStatus.ready}}</dd>
  <dt translate>Restart Count</dt>
  <dd>{{containerStatus.restartCount}}</dd>
</dl>
