<h3>Pod Template</h3>
<dl class="dl-horizontal">
  <dt translate>Restart policy</dt>
  <dd>{{template.restartPolicy}}</dd>
  <dt translate>DNS policy</dt>
  <dd>{{template.dnsPolicy}}</dd>
  <dt ng-if="template.serviceAccountName" translate>Service account</dt>
  <dd ng-if="template.serviceAccountName">{{template.serviceAccountName}}</dd>
</dl>  
<h4 translate>Containers</h4>
<kubernetes-object-describe-containers containers="template.containers"></kubernetes-object-describe-containers>
<h4 translate>Volumes</h4>
<kubernetes-object-describe-volumes volumes="template.volumes"></kubernetes-object-describe-volumes> 
