<div>
  <kubernetes-object-describe-header resource="resource" kind="kind"></kubernetes-object-describe-header>
  <dl class="dl-horizontal">
    <dt translate>Name</dt>
    <dd>{{resource.metadata.name}}</dd>
    <dt translate>Namespace</dt>
    <dd>{{resource.metadata.namespace}}</dd>
    <dt translate>Created</dt>
    <dd>{{resource.metadata.creationTimestamp | date:'medium'}}</dd>
    <dt translate>Type</dt>
    <dd>{{resource.spec.type}}</dd>
    <dt translate>IP</dt>
    <dd>{{resource.spec.clusterIP}}</dd>
    <dt translate>Ports</dt>
    <dd>
      <div ng-if="!resource.spec.ports.length" translate>None</div>
      <div ng-repeat="portMapping in resource.spec.ports | orderBy:'port'">
        {{portMapping.port}} &#8594; {{portMapping.targetPort}} ({{portMapping.protocol}})
      </div>
    </dd>
    <dt translate>Session affinity</dt>
    <dd>{{resource.spec.sessionAffinity}}</dd>    
    <dt ng-if="resource.status.loadBalancer.ingress.length" translate>Ingress points</dt>
    <dd ng-if="resource.status.loadBalancer.ingress.length">
      <span ng-repeat="ingress in resource.status.loadBalancer.ingress"
        >{{ingress.ip}}<span ng-if="!$last">, </span></span>
    </dd>
  </dl>
  <h3 translate>Selector</h3>
  <dl class="dl-horizontal">
    <dt ng-repeat-start="(selectorKey, selectorValue) in resource.spec.selector">{{selectorKey}}</dt>
    <dd ng-repeat-end>{{selectorValue}}</dd>
  </dl>
  <kubernetes-object-describe-labels resource="resource"></kubernetes-object-describe-labels>
  <kubernetes-object-describe-annotations resource="resource"></kubernetes-object-describe-annotations>
  <kubernetes-object-describe-footer resource="resource"></kubernetes-object-describe-footer>
</div>
